<div class="container">
  <datatable
    [data]="pageData"
    [isUseCheckbox]="true"
    [isLoading]="isDatatableLoading"
    (selected)="onDatatableSelected($event)"
    (datatableChanged)="onDatatableChanged($event)"
  >
    <datatable-column field="checkbox" styleClass="text-center"></datatable-column>
    <datatable-column headerName="No" field="recordNo" styleClass="text-center"></datatable-column>
    <datatable-column headerName="ID" field="id"></datatable-column>
    <datatable-column headerName="Name" field="name"></datatable-column>
    <datatable-column headerName="Passport Number" field="passportNumber"></datatable-column>
  </datatable>
</div>
